# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Playwright
playwright-report/
test-results/
screenshots/
traces/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test reports
report.html